.sidebar {
    /* background-color: blueviolet; */
        width: 15%;
    /* margin-right: 5px; */
    height: 100vh;
}

hr {
    height: 1px;
    border: none;
    background-color: rgb(197, 197, 197);
}